<div class="question_tile">
  <h3>Question:</h3>
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{question.title}}
    </div>
    <div class="panel-body">
        {{question.body}}
    </div>
    <div class="panel-footer">
      Posted by: {{question.author}}
      <button {{action "delete" question}} class="btn btn-sm">Delete</button>

      {{#if isEditShowing}}
        <div class="edit_question_form">
          <form>
            <div class="form-group">
              <label for="title">Title:</label>
              {{input value=title type="text" class="form-control" placeholder=""}}
            </div>

            <div class="form-group">
              <label for="body">Body:</label>
              {{input value=body type="text" class="form-control" placeholder=""}}
            </div>

            <div class="form-group">
              <label for="author">Author:</label>
              {{input value=author type="text" class="form-control" placeholder=""}}
            </div>

            <div class="center">
              <button {{action "edit" question}} class="btn btn-sm">Submit</button> <button {{action "hideEditForm"}} class="btn btn-sm">Close</button>
            </div>
          </form>
        </div>
      {{else}}
        <button {{action "showEditForm"}} class="btn btn-sm">Edit</button>
      {{/if}}

      {{#if isAddAnswerShowing}}
        <div class="add_answer_form">
          <form>
            <div class="form-group">
              <label for="title">Title:</label>
              {{input value=title type="text" class="form-control" placeholder=""}}
            </div>

            <div class="form-group">
              <label for="body">Body:</label>
              {{input value=body type="text" class="form-control" placeholder=""}}
            </div>

            <div class="form-group">
              <label for="author">Author:</label>
              {{input value=author type="text" class="form-control" placeholder=""}}
            </div>

            <div class="center">
              <button {{action "addAnswer"}} class="btn btn-sm">Submit</button> <button {{action "hideAnswerForm"}} class="btn btn-sm">Close</button>
            </div>
          </form>
        </div>
      {{else}}
        <button {{action "showAnswerForm"}} class="btn btn-sm">Submit Answer</button>
      {{/if}}

    </div>
  </div>

  <h3>Answer(s):</h3>
  {{#each question.answer as |answer|}}
    {{answer-tile answer=answer}}
  {{else}}
    <p>No answers yet!</p>
  {{/each}}
</div>
